
.parallax {
    background-image: url("../images/bg.jpg");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    background-image: url("../images/parallax/tl_belek_luca.jpg");
}

.parallax-2 {
    background-image: url("../images/tl_belek-01.jpg");
}

.parallax-3 {
    background-image: url("../images/parallax/iesc_finale.jpg");
}

.parallax-4 {
    background-image: url("../images/parallax/leipzig_startbruecke.JPG");
}

@supports (-webkit-touch-callout: none) {
    .parallax {
        background-attachment: unset;
    }
}

@media only screen and (max-width: 800px) {
    .parallax-1 {
        background-position-x: -56px;
    }
    .parallax-4 {
        background-position-x: -14px;
    }
}